<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale=1, shrink-to-fit="no">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title> About Covid-19 </title>
              

    </head>

    <body>
        <nav class="navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="http://127.0.0.1:8000/REGFORM/"> Developer Group 9</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/REGFORM/">Home <span class="sr-only">(Current)</span></a>
                </li>

                <li class="nav-item">
                     <a class="nav-link" href="http://127.0.0.1:8000/REGFORM/aboutcovid19">About Covid-19</a>
                 </li>
 
                 <li class="nav-item">
                     <a class="nav-link" href="http://127.0.0.1:8000/REGFORM/symptom">Symptoms</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="http://127.0.0.1:8000/REGFORM/precaution">Precautions</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="http://127.0.0.1:8000/REGFORM/treatment">Treatment</a>
                 </li>
                 <li class="nav-item">
                     <a class="nav-link" href="http://127.0.0.1:8000/REGFORM/vaccine">Vaccine</a>
                 </li>

                <li class="nav-item">
                    <a class="nav-link" href="https://datastudio.google.com/embed/u/0/reporting/1PLVi5amcc_R5Gh928gTE8-8r8-fLXJQF/page/R24IB">Pakistan Cases</a>
                </li>

                

                

                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/REGFORM/complaintform">Complaint form</a>
                </li>
            </ul>
        </div>
        </nav>
        
        <ul>
        <h1> About Covid_19 </h1>
        <p>
               Coronaviruses are a family of viruses that can cause respiratory illness in humans. They get their name, “corona,” from the many crown-like spikes on the surface of the virus. Severe acute respiratory syndrome (SARS), Middle East respiratory syndrome (MERS) and the common cold are examples of coronaviruses that cause illness in humans. 
               The new strain of coronavirus, COVID-19, was first reported in Wuhan, China in December 2019. The virus has since spread to all continents (except Antarctica). 
        </p>
        
        <!--2nd heading-->
        <h2> Origin of Covid_19:  </h2>
        <p>
               Coronavirus disease 2019 (COVID-19) is a contagious disease caused by severe acute respiratory syndrome coronavirus 2 (SARS-CoV-2). The first known case was identified in Wuhan, China in December 2019. The disease has since spread worldwide, leading to an ongoing pandemic. 
        
        <!--3nd heading-->
        <h3> Effect of corona virus  </h3>
        <p> 
        COVID-19 (Coronavirus) has affected day to day life and is slowing down the global economy. This pandemic has affected thousands of peoples, who are either sick or are being killed due to the spread of this disease. COVID-19 has rapidly affected our day-to-day life, businesses, disrupted the world trade and movements. Identification of the disease at an early stage is vital to control the spread of the virus because it very rapidly spreads from person to person. Most of the countries have slowed down their manufacturing of the products.The various industries and sectors are affected by the cause of this disease; these include the pharmaceuticals industry, solar power sector, tourism, Information and electronics industry. This virus creates significant knock-on effects on the daily life of citizens, as well as about the global economy. 
        Presently the impacts of COVID-19 in daily life are extensive and have far reaching consequences. These can be divided into various categories 
        
        <ul>
        <h3> <b>   Healthcare </b></h3>
        <li>Challenges in the diagnosis, quarantine and treatment of suspected or confirmed cases </li>
        <li>High burden of the functioning of the existing medical system </li>
        <li>Patients with other disease and health problems are getting neglected</li>
        <li>Overload on doctors and other healthcare professionals, who are at a very high risk </li>
        <li>Overloading of medical shops</li>
        <li>Requirement for high protection </li>
        <li>Disruption of medical supply chain</li>
        
        <h3> <b> Economic  </b></h3>
        <li>Slowing of the manufacturing of essential goods </li>
        <li>Disrupt the supply chain of products </li>
        <li>Losses in national and international business </li>
        <li>Poor cash flow in the market</li>
        <li>Significant slowing down in the revenue growth</li>
        
        <h3> <b> Social   </b></h3>
        <li>Service sector is not being able to provide their proper service</li>
        <li>Cancellation or postponement of large-scale sports and tournaments </li>
        <li>Avoiding the national and international travelling and cancellation of services</li>
        <li>Disruption of celebration of cultural, religious and festive events</li>
        <li>Undue stress among the population </li>
        <li>Social distancing with our peers and family members</li>
        <li>Closure of the hotels, restaurants and religious places </li>
        <li>Closure of places for entertainment such as movie and play theatres, sports clubs, gymnasiums, swimming pools, and so on. </li>
        <li>Postponement of examinations</li>
        
        <h3> <b> Psychological problems  </b></h3>
        It seems to especially be hitting younger people. Of those surveyed, 55% reported experiencing mental health issues since the onset of the pandemic, including 74% of respondents in the 18-to-34-year-old age range.  
        Of those respondents, four of the most common issues were: 
        <li>Stress (33% overall; 42% of 18-to-34-year-olds) </li>
        <li>Anxiety (30% overall; 40% of 18-to-34-year-olds) </li>
        <li>Depression (24% overall; 31% of 18-to-34-year-olds) </li>
        <li>Loneliness or isolation (24% overall; 31% of 18-to-34-year-olds) </li>
        <li>Fear and humor, stress, and depression can be considered psychological problems, but respondent more reactions about stress and depression as compared with fear and humor</li>
        <li>Difficulty concentrating and making decisions</li>
        <li>Difficulty sleeping or nightmares </li>
        <li>Worsening of chronic health problems</li>
        <li>Worsening of mental health conditions </li>
        </ul>
        </p>
        
        
        <h3>How does the new coronavirus (COVID-19) spread from person to person? </h3>
        <p>
        COVID-19 is likely spread: 
        <ul>
        <li>When the virus travels in respiratory droplets when an infected person coughs, sneezes, talks, sings or breathes near you (within six feet). This is thought to be the main way COVID-19 is spread</li>
        <li>When the virus travels in small respiratory droplets that linger in the air for minutes to hours from an infected person who is more than six feet away or has since left the space. This method of spread is more likely to occur in enclosed spaces with poor ventilation.</li>
        <li>From close contact (touching, shaking hands) with an infected person</li>
        <li>By touching surfaces that the virus has landed on, then touching your eyes, mouth, or nose before washing your hands. (Not thought to spread easily by this method.) </li>
        COVID-19 enters your body through your mouth, nose or eyes (directly from the airborne droplets or from transfer of the virus from your hands to your face). The virus travels to the back of your nasal passages and mucous membrane in the back of your throat. It attaches to cells there, begins to multiply and moves into lung tissue. From there, the virus can spread to other body tissues
        <br>
        Governments, health agencies, researchers and healthcare providers are all working together to develop policies and procedures to limit the spread of this virus both globally and from individual to individual
        </ul>
        </p>
        <h3>How long is a person infected with COVID-19 considered contagious? </h3>
        <p>
        Researchers are still learning about COVID-19. What IS known is that people infected with COVID-19 can spread the virus to others before experiencing symptoms themselves (while people are still “asymptomatic”). Once you do have symptoms, the CDC says you are no longer contagious 10 days after your symptoms began
        <br>
        Until everything about COVID-19 is fully understood, the best advice from healthcare providers to remain safe is to:
        <ul>
        <li>Stay six feet away from others whenever possible</li>
        <li>Wear a cloth mask that covers your mouth and nose when around others</li>
        <li>Wash your hands often. If soap is not available, use a hand sanitizer that contains at least 60% alcohol</li>
        <li>Avoid crowded indoor spaces. Bring in outdoor air as much as possible</li>
        <li>Stay self-isolated at home if you are feeling ill with symptoms that could be COVID-19 or have a positive test for COVID-19</li>
        <li>Clean and disinfect frequently touched surfaces</li>
        </ul>
        </p>
        <h3>Who is most at risk for getting COVID-19? </h3>
        <p>
        <ul>
        Persons at greatest risk of contracting COVID-19 are:
        <li>People who live in or have recently traveled to any area with ongoing active spread</li>
        <li>People who have had close contact with a person who has a laboratory-confirmed or a suspected case of the COVID-19 virus. Close contact is defined as being within six feet of an infected person for a cumulative total of 15 minutes or more over a 24-hour period</li>
        <li>People over age 60 who have pre-existing medical conditions or a weakened immune system.</li>
        
        </ul>
        </p>
        <!--5th heading-->
        <h1> Advantages and disadvantages of lockdown  </h1>
        <p>
        The world is grappling with the coronavirus pandemic crisis and this virus has changed human lives to a great extent. 
        Be it professional or personal, people have been affected by this virus. Not health-wise, but through their work-wise 
        and their commitments During the lockdown, people will have restrictions on travel, and buying non-essential items. Lockdown encouraged people to stay at 
        home and as people were home, social distancing increased and got properly implemented. Social distancing is the answer to avoid this virus and in order to 
        improve social distancing among the users, lockdown is initiated. 
        
        <h2> Advantages </h2>
        <ul>
        <li><b>You can start learning a new skill during this lockdown:</b><br> This lockdown when you have the opportunity to stay at home, start learning something new and enroll for a new course or skill and gain knowledge about the same. This will open more gates of opportunity for you in the future and increase your asset in terms of your skillset</li>
        <li><b>Spend time with your family:</b><br>We all have been busy with our work, in our studies and in whatever we do and this leads to a distance with our families. Now is the time, when you are in this lockdown and free for some time, spend time with your loved ones </li>
        <li><b>People's skills and creativity:</b><br>People's skills and creativity have been come out from their inner mind</li>
        <li><b>discipline and hygiene</b><br> the put break of COVID_19 and lockdown measures have taught us the importance of hygiene and disciplined lifestyles. it has shown us the simple way of living and brought back attention to healthy practices. The time can be best utilized relishing home-cooked foods. </li>
        
        <h2> Disadvantages </h2>
        <li><b>The economy of the country:</b><br>The world economy has gone down seriously.Businesses are shut and companies are hitting the worst phase in their times. As the businesses are affected largely, the economy of the country is being affected. It will revive soon, but the sudden, short-term decline in the market has affected many small traders and business owners. Small retail shop owners, small industries, and other startups have been adversely affected due to this lockdown. This has led to an overall impact on the economy of the country.</li>
        <li><b>Students and their studies:</b><br>Students have been affected by this pandemic too. Schools, colleges, institutes, and universities are shut as social distancing is to be practiced and this has affected students and their studies. The overall education sector has been hit due to the virus. Though students and teachers are connected through video conferencing applications, lectures are going on. These online lectures are not very effective in terms of knowledge sharing and long-term growth. </li>
        <li><b>Travel</b><br>People are stuck here and there in the country and due to the lockdown and in order to practice social distancing, public transport is stopped. This affected a lot of people. Many people are stuck in other states and they are not able to come back to their homes as there is no means of proper transportation </li>
        <li><b>Low-income earners</b><br> Low-income earners and pity businesses have suffered negatively </li>
        <li><b>Children education</b><br>Children education hampered</li>
        <li>mental trauma, anxiety, depression, fear </li>
        </ul>
        </p>
        
        <p style="page-break-before: always">
        
        
        <!--6th heading-->
        <h1> Unemployment rate in Covid-19   </h1>
        <p>
        The outbreak of coronavirus disease (COVID-19) has severely affected the global and Pakistani economy. Major victims of the COVID-19 outbreak are micro, small, and medium-sized enterprises (MSMEs). To explore the impact of coronavirus disease 2019 (COVID-19) on small businesses, we conducted a survey of more than 5,800 small businesses between March 28 and April 4, 2020. Several themes emerged. First, mass layoffs and closures had already occurred just a few weeks into the crisis. Second, the risk of closure was negatively associated with the expected length of the crisis. Moreover, businesses had widely varying beliefs about the likely duration of COVID-related disruptions. In addition to its impact on public health, coronavirus disease 2019 (COVID-19) has caused a major economic shock 
        </p>
        
        <h2> Industry Differences in Response to Crisis Duration </h2>
        <p>
        COVID-19 disruptions do not affect all businesses equally. Some are deemed essential and remained open, while others were required to close. Some businesses could shift employees to remote work, while others were ill equipped for the transition. 
        </p>
        <h2> Major victims of COVID-19 </h2>
        <p>
        outbreak are the micro, small & medium-sized enterprises (MSMEs) because MSMEs, in comparison to large enterprises, usually do not possess sufficient resources, especially financial and managerial, and are not prepared for such disruptions likely to go longer than expected. many MSMEs are running out of stock, some hardly continue to operate, and some will be running out of stock soon. MSMEs are the backbone of many economies worldwide that provide income and employment generation to a large number of people around the globe. Similarly, in the case of Pakistan, MSMEs are crucial for the economy as they constitute over 90% of the estimated 3.2 million business enterprises and contribute 40% to the GDP with over 40% to export earnings 
        <br>
        These businesses are spread all over <b>Pakistan in rural and urban areas</b> and represent a significant portion of agriculture, manufacturing, retail, wholesale, trade, and service sectors. Due to the COVID-19 outbreak and lockdowns, Pakistani firms are facing unprecedented adverse effects on their businesses. Besides, the unavailability of labors, slowdown of productions, shortage of raw materials, and transportation restrictions will have major ramifications on these businesses. This, in turn, will have a significant impact on the national economy as a whole. 
        </p>
        
        <!--7th heading-->
        <h1> Seasonal effects of Covid 19  </h1>
        <p>
        This study qualitatively and quantitatively analyzes the role of seasonality in the spread of COVID-19. We find that COVID-19 infectivity and mortality of SARS-CoV-2 are both stronger in colder climates, and COVID-19 seasonality is more pronounced at higher latitudes. Numerical simulation indicates that seasonality alone is not sufficient to stop the virus transmission in the warm season, but it should be taken into account in the future planning of intervention measures. Our findings have important implications in the control and prevention of COVID-19. 
        <br>
        In winter months, cases of COVID-19 may surge along with other coronaviruses’ infections and seasonal influenza, which would trigger a substantial increase in the demand for healthcare system resources. idealized cases of mid-summer and mid-winter outbreaks, noting the current hypothesis that Covid-19 infection rates are optimal under cold and dry conditions 
        <br>
        <b>Different factors:</b>
        
        <ul>
        <li> <h3>Factor 1: The environment</h3></li>
        In the winter, the outdoor air is colder, and the air is dryer usually both indoors and out. For influenza, the quantity of water vapor in the air strongly affects flu transmission, with drier conditions being more favorable. there may be some very humid conditions that also favor flu transmission, especially relevant in the tropics. Still, it is safe to say that in temperate countries, <b>dry cold air = favorable conditions for flu transmission.</b> For coronaviruses, the relevance of this factor is unknown.
        <li> <h3>Factor 2: Human behavior</h3></li>
        In the winter humans spend more time indoors with less ventilation and less personal space than outdoors in the summer. In particular, schools are a site of much infectious disease transmission. School terms have been strongly identified as periods of higher transmission for respiratory viruses including those causing chicken pox,  measles, and flu. it was very much decreased during the summer, and then came back rapidly in September.
        <li> <h3>Factor 3: The host’s immune system</h3></li>
        It is possible that the condition of the average person’s immune system is systematically worse in winter than summer. One hypothesis has focused on melatonin which has some immune effects and is modulated by the photoperiod, which varies seasonally. Another with more evidence is that vitamin D levels, which depend in part on ultraviolet light exposure (higher in summer) modulate our immune system in a positive way. 
        
        </ul>
        </p>
        
        
        </ul>
        
        
        </body>
        