<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale=1, shrink-to-fit="no">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title> Precaution </title>

    </head>

    <body>
        <nav class="navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="http://127.0.0.1:8000/REGFORM/"> Developer Group 9</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/REGFORM/">Home <span class="sr-only">(Current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/REGFORM/aboutcovid19">About Covid-19</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/REGFORM/symptom">Symptoms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/REGFORM/precaution">Precautions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/REGFORM/treatment">Treatment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/REGFORM/vaccine">Vaccine</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="https://datastudio.google.com/embed/u/0/reporting/1PLVi5amcc_R5Gh928gTE8-8r8-fLXJQF/page/R24IB">Pakistan Cases</a>
                </li>

                

                

                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/REGFORM/complaintform">Complaint form</a>
                </li>
            </ul>
        </div>
        </nav>

        <ul>
            <h1> Precautions and SOPS  </h1>
            <p>
            Protect yourself and others around you by knowing the facts and taking appropriate precautions. Follow advice provided by your local health authority. 
            <h3> To prevent the spread of COVID-19: </h3>
            <ul>
            <li>Clean your hands often. Use soap and water, or an alcohol-based hand rub.</li>
            <li>Maintain a safe distance from anyone who is coughing or sneezing</li>
            <li>Wear a mask when physical distancing is not possible. </li>
            <li>Don’t touch your eyes, nose or mouth</li>
            <li>Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze. </li>
            <li>Stay home if you feel unwell</li>
            <li>If you have a fever, cough and difficulty breathing, seek medical attention. </li>
            <li>Calling in advance allows your healthcare provider to quickly direct you to the right health facility. This protects you, and prevents the spread of viruses and other infections</li>
            </ul>
            <h3> Masks </h3>
            Masks can help prevent the spread of the virus from the person wearing the mask to others. Masks alone do not protect against COVID-19, and should be combined with physical distancing and hand hygiene.
             Follow the advice provided by your local health authority. 
            </p>
            </ul>
            </body>