<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale=1, shrink-to-fit="no">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title> Treatment </title>

    </head>

    <body>
        <nav class="navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="http://127.0.0.1:8000/REGFORM/"> Developer Group 9</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/REGFORM/">Home <span class="sr-only">(Current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/REGFORM/aboutcovid19">About Covid-19</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/REGFORM/symptom">Symptoms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/REGFORM/precaution">Precautions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/REGFORM/treatment">Treatment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/REGFORM/vaccine">Vaccine</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="https://datastudio.google.com/embed/u/0/reporting/1PLVi5amcc_R5Gh928gTE8-8r8-fLXJQF/page/R24IB">Pakistan Cases</a>
                </li>

               

                

                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/REGFORM/complaintform">Complaint form</a>
                </li>
            </ul>
        </div>
        </nav>
        <ul>
            <h1> Treatments  </h1>
            <p>
            <ul>
            <h3> Self-Care</h3>
            After exposure to someone who has COVID-19, do the following: 
            <li>Call your health care provider or COVID-19 hotline to find out where and when to get a test.</li>
            <li>Cooperate with contact-tracing procedures to stop the spread of the virus</li>
            <li>If testing is not available, stay home and away from others for 14 days.</li>
            <li>While you are in quarantine, do not go to work, to school or to public places. Ask someone to bring you supplies</li>
            <li>Keep at least a 1-metre distance from others, even from your family members</li>
            <li>Wear a medical mask to protect others, including if/when you need to seek medical care. </li>
            <li>Clean your hands frequently</li>
            <li>Stay in a separate room from other family members, and if not possible, wear a medical mask</li>
            <li>Keep the room well-ventilated. </li>
            <li>If you share a room, place beds at least 1 meter apart. </li>
            <li>Monitor yourself for any symptoms for 14 days</li>
            <li>Call your health care provider immediately if you have any of these danger signs: difficulty breathing, loss of speech or mobility, confusion or chest pain.</li>
            <li>Stay positive by keeping in touch with loved ones by phone or online, and by exercising at home. </li>
            </ul>
            </p>
            <p>
            <ul>
            <h3> Medical treatments </h3>
            <li>Scientists around the world are working to find and develop treatments for COVID-19. </li>
            <li>Optimal supportive care includes oxygen for severely ill patients and those who are at risk for severe disease and more advanced respiratory support such as ventilation for patients who are critically ill. </li>
            <li>Dexamethasone is a corticosteroid that can help reduce the length of time on a ventilator and save lives of patients with severe and critical illness</li>
            </ul>
            </p>
            </ul>
            </body>