<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width", initial-scale=1, shrink-to-fit="no">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <title> Vaccine </title>

    </head>

    <body>
        <nav class="navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="http://127.0.0.1:8000/REGFORM/"> Developer Group 9</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/REGFORM/">Home <span class="sr-only">(Current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/REGFORM/aboutcovid19">About Covid-19</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/REGFORM/symptom">Symptoms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/REGFORM/precaution">Precautions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/REGFORM/treatment">Treatment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/REGFORM/vaccine">Vaccine</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="https://datastudio.google.com/embed/u/0/reporting/1PLVi5amcc_R5Gh928gTE8-8r8-fLXJQF/page/R24IB">Pakistan Cases</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/REGFORM/complaintform">Complaint form</a>
                </li>
            </ul>
        </div>
        </nav>
        <ul>
            <h1> Vaccine  </h1>
            <p>
            Vaccines protect individuals against disease and hopefully also against infection, but no vaccine is 100% effective. To stop transmission, we must vaccinate anyone who can transmit infection. Vaccines are probably the most powerful public health intervention available to us. But unless their benefits are communicated with realism, confidence in all recommendations will be put at risk
            </p>
            <h2>How vaccines help </h2>
            <p>
            Vaccines contain weakened or inactive parts of a particular organism (antigen) that triggers an immune response within the body. Newer vaccines contain the blueprint for producing antigens rather than the antigen itself. Regardless of whether the vaccine is made up of the antigen itself or the blueprint so that the body will produce the antigen, this weakened version will not cause the disease in the person receiving the vaccine, but it will prompt their immune system to respond much as it would have on its first reaction to the actual pathogen 
            </p>
            <h2>Vaccines in Pakistan: </h2>
            <ul>
            <li>Sinopharm</li>
            <li>Sinovac</li>
            <li>CanSino-Bio</li>
            <li>Sputnik doses have been administered in Pakistan so far</li>
            </ul>
            
            <h2>Vaccine side effects</h2>
            <p>
            Not everyone taking the vaccine will have side effects. If you do have any, they are usually very mild. They normally won’t last longer than around 48 hours. 
            <br>
            <b>The common side effects are: </b>
            <ul>
            <li>Your arm might feel sore where you had your vaccine</li>
            <li>Feeling tired</li>
            <li>Headaches</li>
            <li>Aches</li>
            <li>Feeling sick. </li>
            </ul>
            </p>
            
            <h3>Vaccine if You Have Diabetes</h3>
            <p>
            People with diabetes are at a higher risk of developing complications of COVID-19, making it all the more important that they are vaccinated against the disease as soon as possible. People with diabetes do much worse than people without diabetes in terms of their outcomes with COVID. The protective effects of vaccines are critical for people with diabetes who are at increased risk for severe and deadly infection from COVID-19 
            <br>
            It is found that people with type 1 or type 2 diabetes were 2 to 3 times more likely to die from COVID-19 in the hospital than people without diabetes. 
            </p>
            
            <h3>Side Effects of the Vaccine Should People with Diabetes Pay Attention To </h3>
            <p>
            In general, the most common side effects of both vaccines are pain, swelling, and redness at the injection site. Other common side effects are chills, tiredness, and headaches. Most of these side effects were mild, but some people had more severe reactions that interfered with daily activities.
            </p>
            <h3>Can I get the vaccine if I’m sick?</h3>
            <p>
            A mild illness will not affect the safety or effectiveness of a vaccine. However, you should wait until you are recovered from your illness before getting your vaccine to keep from spreading the illness. 
            </p>
            <h3>Can I get the vaccine if I have COVID or already had COVID? </h3>
            <p>
            If you currently have COVID-19, wait until you have recovered from your illness and can be around others again before you get vaccinated. This also applies to people who get COVID-19 between their first and second doses. 
            </p>
            <h3>If you have already had COVID and have recovered, you should still get the vaccine</h3>
            <p>
            Experts do not yet know how long you are protected once you are sick with COVID-19. If you were treated for COVID-19 with monoclonal antibodies or convalescent plasma, you should wait 90 days before getting a COVID-19 vaccine. Talk to your doctor if you are unsure what treatments you received
            </p>
            <h3>Can I get the vaccine if I have cancer or am going through chemotherapy?</h3>
            <p>
            Talk with your doctor or clinic. Depending on your type of cancer and the treatment you are getting, your doctor may recommend getting vaccinated or may recommend delaying vaccination for a while. 
            </p>
            <button>
            <a style="color:black" href="http://127.0.0.1:8000/REGFORM/registrationform">Click here to register yourself for Vaccination</a>
        </button>
            </ul>

            
            
            </body>
            
            